*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height:1.4rem;
}

header{
    background-image: linear-gradient(rgb(40, 205, 115), rgb(45, 195, 145));
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
    flex-wrap: wrap;
}

header img{
    max-width: auto;
    max-height: 100px;
}

header nav{
    width:90%;
    padding-left: 30vw;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}

nav ul li a{
    color:rgb(255, 254, 254);
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
    margin:0 2rem;
}

nav ul li a:hover{
    color:rgb(51, 51, 51);
}

main {
    background-image: linear-gradient(rgb(255, 255, 255, 0.4), rgb(51, 51, 51, 0.4));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position:relative;
}

#formulario { 
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;

}

form {
    justify-content: center;
    background-color: rgba(92, 228, 180, 0.158);
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    padding: 50px;
    width: 80%;
}

form fieldset {
    width: 20%;
    border: none;
}

form input,form button,form select {
    display:block;
    margin: 15px;
}

#send {
    padding: 5px;
    background-color: rgb(199, 230, 219);
    border-radius: 10px;
    border:solid 1px rgb(92, 228, 180)
}
#reset {
    padding: 5px;
    background-color: rgb(230, 210, 199);
    border-radius: 10px;
    border:solid 1px rgb(228, 158, 92)
}

#check {
    padding: 5px;
    background-color: rgb(199, 226, 230);
    border-radius: 10px;
    border:solid 1px rgb(92, 228, 180)
}

#portada {
    background-image: url('./img/paradise.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:13vw 13vw;
}

h1{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 205, 115, 0.4);
    text-align: center;
    
}

footer{
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

footer img {
    padding: 20px;
    max-height: 100px;
    max-width: auto;
}

footer img:hover {
    height: 10px;
    width: auto;
}